* {
  margin: 0;
  padding: 0;
}

body {
  margin: 5%;
  text-align: center;
  background-image: url('./imgs/bckgrnd.jpg');
  background-size: cover;
  font-size: 18px;
}

header , main {
  margin: 5%;
}

section {
  margin: 8%;
  display: flex;
  justify-content: space-around;
}

#game-UI {
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#title {
  font-size: 2.3em;
}

.ball {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px solid black;
}

#reset-game {
  margin-top: 0.5%;
  height: 1%;
  width: 15%;
  background-image: linear-gradient(to bottom right, purple, pink);
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgb(54, 54, 54);
}
